$colors: (
    primary: #f1faee,
    secondary: #457b9d,
    text: #1d3557,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

//$primaryBtn: #457b9d

// Navbar starts
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: color(secondary);
    color: color(secondary);
    font-size: 20px;
}

.logo {
    margin-left: 4rem;
}

.navline {
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}

nav a {
    margin: auto 1rem;
    color: color(primary);
    text-decoration: none;
    margin-top: 17px;
}

nav a:hover {
    color: color(primary);
}

.signup {
    font-weight: 600;
}

@media only screen and (max-width: 1024px){
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; //centers links
        gap: 1.5rem;
        background-color: color(secondary);
    }

    header .responsive_nav{
        transform: none;
    }

    nav a {
        font-size: 1.5rem;
    }
}
// Navbar ends

// Main Image starts
.cats {
    position: relative;
    text-align: center;
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.thetext {
    position: absolute;
    top: 150px;
    right: 80px;
    font-size: 88px;
    font-weight: 400px;
    letter-spacing: -7px;
    color: color(primary);
}

.text1 {
    font-size: 44px;
    text-align: right;
    letter-spacing: normal;
}

span {
    font-weight: 700;
}

// Main Image ends

// Buttons start
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 10vh 10vh 10vh; //top, right, bottom, left
    height: 123px;
    width: 493px;
    background-color: color(secondary);
    border: none;
    color: color(primary);
    font-size: 24px;
    border-radius: 5px;
    //box-shadow:
}

.caticon {
    margin-left: 30px;
    height: 61px;
    width: 68px;
}

.line1 {
    height: 100px;
    margin-left: -40px;
}

.register-text {
    font-size: 40px;
    font-weight: bold;
    margin-right: 70px;
    margin-left: 0px;
}

.Database {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 10vh 10vh 10vh; //top, right, bottom, left
    height: 123px;
    width: 493px;
    background-color: color(secondary);
    border: none;
    color: color(primary);
    font-size: 24px;
    border-radius: 5px;
}

.pawicon {
    margin-left: 35px;
    height: 87px;
    width: 67px;
}

.line2 {
    height: 100px;
    margin-left: -10px;
}

.database-text {
    font-size: 40px;
    font-weight: bold;
    margin-right: 60px;
    margin-left: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 374px;
    background-color: color(secondary);
    color: color(secondary);
    font-size: 20px;
}